/* 
box-shadow <offset-x> <offset-y> <blur-radius> <spread-radius> <color>
filter: drop-shadow(<offset-x> <offset-y> <blur-radius> <color>)
text-shadow: <offset-x> <offset-y> <blur-radius> <color>
*/

:root {
    --color-accent: #aa0000;
    --color-primary: #121212;
    --color-secondary: #2a2a2a;
    --color-select: #414141;
    --color-text: #ffffff;
    --color-text-accent: #ffffff;
    --font-family: "American Typewriter, serif";
    --box-shadow-window: 0 0 10px 1px #000000;
    /* --padding-container: clamp(1rem, 5%, 2rem); calc(var(--padding-container) / 2) */
    --padding-text: 0.25em 0.5em;
    --padding-selectable: 0.5rem 1.0rem; /* 8px 12px; */

    --spinner-dimension: 50px;
    --spinner-border-width: 5px;
}
@media screen and (min-width: 480px) { /* computer */
    :root {
        --font-size-button: 0.9rem;
        --font-size-input: 0.9rem;
        --icon-dimension: 24px;
        --padding-selectable: 0.25rem 0.5rem;
        --padding-container: 1rem; /* 24px-32px+ | 5%-8% */
    }
}
@media screen and (max-width: 480px) { /* phone */
    :root {
        --font-size-button: 1.0rem;
        --font-size-input: 1.0rem;
        --icon-dimension: 24px;
        --padding-selectable: 0.5rem 1.0rem;
        --padding-container: 1rem; /* 12px-16px */
    }
}
@media (orientation: portrait) {
}
@media (orientation: landscape) {
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #121212;
        --color-text: #ffffff;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #F2F0EF;
        --color-text: #000000;
    }
}
#body {
    background-color: var(--color-primary);
    bottom: 0px;
    color: var(--color-text);
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    user-select: none;
}
/***********************************************************************element**********************************************************************/
a {
    color: var(--color-accent);
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: var(--color-accent);
    font-size: var(--font-size-button);
    margin: 0;
    padding: var(--padding-selectable);
    text-transform: uppercase;
}
button:enabled:hover {
    background-color: var(--color-accent);
    color: var(--color-text-accent);
}
button:disabled {
    filter: brightness(50%);
}
div[type="divider-linear-gradient"] {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-accent), var(--color-accent), transparent)
}
div[type="divider-solid"] {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--color-accent), var(--color-accent), var(--color-accent), var(--color-accent))
}
iframe {
    border: none;
    height: stretch;
    width: 100dvw;
}
input {
    background-color: transparent;
    border-color: lightgrey;
    border-width: 0 0 1px 0;
    /* box-sizing: border-box; */
    color: var(--color-text);
    font-size: var(--font-size-input);
    min-width: 10px;
    padding: var(--padding-selectable);
    width: stretch;
}
input[invalid] {
    color: #FF0000;
}
input[type="checkbox"][icon="check"] {
    appearance: none;
    background-color: #00000000;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: var(--icon-dimension);
    margin: 0;
    padding: 0;
    width: var(--icon-dimension);
}
input[type="checkbox"][icon="check"]:checked {
    background-color: var(--color-accent);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" stroke="white" fill="none" style="stroke-width:2;"><path d="M15 4 L9 15 L4 11"/></svg>');
}
input[type="checkbox"][icon="visibility"] {
    appearance: none;
    background-color: #00000000;
    background-image: url('/repository/images/visibility_off.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: var(--icon-dimension);
    margin: 0;
    opacity: 0.5;
    padding: 0;
    width: var(--icon-dimension);
}
input[type="checkbox"][icon="visibility"]:checked {
    background-image: url('/repository/images/visibility.png');
    opacity: 1;
}
input[type="color"] {
    border: none;
    padding: 0;
}
input[type="number"] {
    text-align: left;
}
input[type="password"] {
    text-align: left;
}
input[type="radio"] {
    accent-color: var(--color-accent);
    height: var(--icon-dimension);
    margin: 0;
    padding: 0;
    width: var(--icon-dimension);
}
input[type="range"] {
    accent-color: var(--color-accent);
    border-radius: 10px;
}
input[type="search"] {
    text-align: left;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' stroke='red' style='stroke-width:2'><path d='M0 0 L15 15 Z M10 0 L0 10 Z'/></svg>");
    height: 10px;
	width: 10px;
}
input[type="text"] {
    text-align: left;
}
input::placeholder {
    color: var(--color-text);
    opacity: 0.25;
}
input::-ms-input-placeholder {
    color: var(--color-text);
    opacity: 0.25;
}
input:-ms-input-placeholder {
    color: var(--color-text);
    opacity: 0.25;
}
select option {
}
progress {
    color: var(--color-accent);
    background-color: #00000000;
}
progress::-moz-progress-bar {
    background-color: var(--color-accent);
}
progress::-webkit-progress-value {
    background-color: var(--color-accent);
}
progress::-webkit-progress-bar {
    background-color: #00000000;
}
select {
    background-color: inherit;
    border-width: 0;
    color: var(--color-text);
}
textarea {
    color: var(--color-text);
    background-color: var(--color-primary);
    box-sizing: border-box;
    margin: 1px;
    padding: calc(var(--padding-container) / 2);
    resize: none;
    width: stretch;
    white-space: pre;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* the track (progress bar) of the scrollbar */
::-webkit-scrollbar-track {
    border-radius: 5px;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-primary);
}
/* the bottom corner of the scrollbar, where both horizontal and vertical scroll bars meet */
::-webkit-scrollbar-corner {
    background: var(--color-primary);
}
/* draggable scrolling handle */
::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}
/* buttons on the scrollbar (arrows pointing upwards and downwards) */
::-webkit-scrollbar-button {
    display: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-select);
}
/* the draggable resizing handle that appears at the bottom corner of some elements. */
::-webkit-resizer {
    background: var(--color-accent);
}
/************************************************************************class***********************************************************************/
.circle {
    border-radius: 50%;
    border: solid 1px transparent;
}
.content {
    box-sizing: border-box;
    position: relative;
}
.content-background {
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}
.content-foreground {
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}
.gravity_center {
    position: relative;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.gravity_center_horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.gravity_center_vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.gravity_bottom {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
}
.gravity_left {
    position: relative;
    left: 0%;
    transform: translateX(0%);
}
.gravity_right {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}
.gravity_top {
    position: relative;
    top: 0%;
    transform: translateY(0%);
}
.selectable {
    user-select: all;
    -webkit-user-select: all;
}
.single_line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}
.title {
    font-size: 1.1em;
    font-weight: bold;
}
/************************************************************************view************************************************************************/
/* calender */
div[view="calender"] {
    box-sizing: border-box;
    padding: var(--padding-container);
    width: 100%;
}
div[view="calender"] > div:nth-child(1) {
    display: flex;
    padding: 0 0 calc(var(--padding-container)/2) 0;
}
/* left arrow */
div[view="calender"] > div:nth-child(1) > div:nth-child(1) {
    background-color: #00000000;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke="white" fill="none" style="stroke-width:2;"><path d="M10 2 L2 10 L10 18"/></svg>');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--icon-dimension);
    width: var(--icon-dimension);
}
/* month */
div[view="calender"] > div:nth-child(1) > div:nth-child(2) {
    margin: 0 5px 0 auto;
}
/* year */
div[view="calender"] > div:nth-child(1) > div:nth-child(3) {
    margin: 0 auto 0 0;
}
/* right arrow */
div[view="calender"] > div:nth-child(1) > div:nth-child(4) {
    background-color: #00000000;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke="white" fill="none" style="stroke-width:2;"><path d="M10 2 L18 10 L10 18"/></svg>');;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--icon-dimension);
    width: var(--icon-dimension);
}
/* days of week */
div[view="calender"] > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
}
/* day of week */
div[view="calender"] > div:nth-child(2) > div {
    align-items: center;
    display: flex;
    height: var(--icon-dimension);
    justify-content: center;
}
/* dates */
div[view="calender"] > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
}
/* date */
div[view="calender"] > div:nth-child(3) > div {
    align-items: center;
    display: flex;
    justify-content: center;
}
/* date-content */
div[view="calender"] > div:nth-child(3) > div > div {
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    height: var(--icon-dimension);
    padding: 5px;
    text-align: center;
    width: var(--icon-dimension);
}
/* checkbox */
div[view="checkbox"] {
    align-items: center;
    display: flex;
    gap: 5px;
    width: fit-content;
}
/* checkbox.text */
div[view="checkbox"] > div {
    display: unset;
}
/* checkbox.input */
div[view="checkbox"] > input[type="checkbox"] {
    appearance: none;
    background-color: #00000000;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--icon-dimension);
    margin: 0;
    padding: 0;
    width: var(--icon-dimension);
}
div[view="checkbox"] > input[type="checkbox"]:checked {
    background-color: var(--color-accent);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke="white" fill="none" style="stroke-width:2;"><path d="M15 4 L9 15 L4 11"/></svg>');
}
/* checkbox [single] */
input[view="checkbox"][type="checkbox"] {
    appearance: none;
    background-color: #00000000;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--icon-dimension);
    margin: 0;
    padding: 0;
    width: var(--icon-dimension);
}
input[view="checkbox"][type="checkbox"]:checked {
    background-color: var(--color-accent);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke="white" fill="none" style="stroke-width:2;"><path d="M15 4 L9 15 L4 11"/></svg>');
}
/* dialog */
div[view="dialog"] {
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-window);
    left: 50%;
    max-height: 90dvh;
    max-width: 90dvw;
    min-width: 300px;
    overflow: hidden;
    padding: var(--padding-container);
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
/* dialog.header */
div[view="dialog"] > div:nth-child(1) {
    align-items: center;
    display: flex;
    gap: 10px;
}
/* dialog.header.icon */
div[view="dialog"] > div:nth-child(1) > img {
    display: none;
}
/* dialog.header.title */
div[view="dialog"] > div:nth-child(1) > div {
    align-content: center;
    font-size: 1.1em;
    font-weight: bold;
}
/* dialog.message */
div[view="dialog"] > div:nth-child(2) {
    font-size: 0.8em;
    padding: 5px 0;
}
/* dialog.body */
div[view="dialog"] > div:nth-child(3) {
    overflow-y: auto;
    user-select: all;
}
/* dialog.body.item */
div[view="dialog"][type="multichoice"] > div:nth-child(3) > div {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
/* dialog.body.item */
div[view="dialog"][type="singlechoice"] > div:nth-child(3) > div {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
/* dialog.body.progress */
div[view="dialog"][type="progress-bar"] > div:nth-child(3) > progress:nth-child(1) {
    height: 5px;
    width: 100%;
}
/* dialog.body.indicator */
div[view="dialog"][type="progress-bar"] > div:nth-child(3) > div:nth-child(2) {
    align-items: center;
    display: flex;
}
/* dialog.body.indicator.percentage */
div[view="dialog"][type="progress-bar"] > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
    font-size: 0.8em;
    opacity: 1;
}
/* dialog.body.indicator.fraction */
div[view="dialog"][type="progress-bar"] > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
    font-size: 0.8em;
    margin: 0 0 0 auto;
    opacity: 0.75;
}
/* dialog.body.progress */
div[view="dialog"][type="progress-spinner"] > div:nth-child(3) > div:nth-child(1) {
    animation-name: spinner;
    animation-direction: normal;
    animation-delay: 0ms;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-color: #f3f3f328;
    border-radius: 50%;
    border-style: solid;
    border-width: var(--spinner-border-width);
    border-top-color: var(--color-accent);
    border-top-width: var(--spinner-border-width);
    box-sizing: border-box;
    height: var(--spinner-dimension);
    margin: 10px auto;
    width: var(--spinner-dimension);
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* dialog.buttons */
div[view="dialog"] > div:nth-child(4) {
    display: none;
}
div[view="dialog"] > div:nth-child(4) > button {
    display: none;
}
/* dialog.buttons.neutral */
div[view="dialog"] > div:nth-child(4) > button:nth-child(1) {
    margin: 0 auto 0 0;
}
/* dialog.buttons.negative */
div[view="dialog"] > div:nth-child(4) > button:nth-child(2) {
    margin: 0 10px 0 auto;
}
/* dialog.buttons.positive */
div[view="dialog"] > div:nth-child(4) > button:nth-child(3) {
    margin: 0 0 0 10px;
}
/* divider */
div[view="divider"] {
    width: 100%;
    height: 2px;
}
div[view="divider"][style="solid"],
div[view="divider"][type="solid"] {
    background: var(--color-text);
}
div[view="divider"][style="linear-gradient"],
div[view="divider"][type="linear-gradient"] {
    background: linear-gradient(to right, transparent, var(--color-text), var(--color-text), transparent);
}
/* drawer */
div[view="drawer"] {
    background-color: var(--color-primary);
    height: 100%;
    position: fixed;
    top: 0;
    transition: transform 300ms ease-in-out;
    transform: translateX(-100%);
    width: 50%;
    z-index: 1000;
}
/* drawer.header */
div[view="drawer"] > div:nth-child(1) {
    background-color: var(--color-header);
    padding: 1em var(--padding-container);
}
/* drawer.header.title */
div[view="drawer"] > div:nth-child(1) > div:nth-child(1) {
    display: none;
    font-size: 1.25em;
}
/* drawer.body */
div[view="drawer"] > div:nth-child(1) > div:nth-child(2) {
}
/* icon */
img[view="icon"] {
    border: none;
    height: var(--icon-dimension);
    width: var(--icon-dimension);
}
img[view="icon"][type="button"] {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: var(--padding-selectable);
    transition: 300ms;
}
img[view="icon"][type="button"]:not([disabled]):hover {
    background-color: var(--color-select);
}
img[view="icon"][disabled] {
    filter: brightness(50%);
}
/* item */
div[view="item"] {
    background-color: transparent;
    border-bottom-color: rgb(from var(--color-text) r g b / 0.5);
    border-bottom-width: 1px;
    padding: var(--padding-selectable);
    transition: 300ms;
    user-select: text;
}
div[view="item"]:hover {
    background-color: var(--color-select);
}
/* item.header */
div[view="item"] > div:nth-child(1) {
    align-items: center;
    display: flex;
    gap: 10px;
}
/* item.header.icon */
div[view="item"] > div:nth-child(1) > img {
    display: none;
}
/* item.header.title */
div[view="item"] > div:nth-child(1) > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
}
/* item.body */
div[view="item"] > div:nth-child(2) {
    font-size: 0.8em;
    margin: 5px 0 0 0;
}
/* list */
div[view="list"] {
    box-sizing: border-box;
}
/* menu */
div[view="menu"] {
    background-color: transparent;
    max-width: 300px;
    min-width: 100px;
}
/* menubar */
div[view="menubar"] {
    background-color: var(--color-secondary);
    box-sizing: border-box;
    display: flex;
    overflow-y: auto;
    width: 100%;
}
/* popup */
div[view="popup"] {
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-window);
    font-size: 0.85em;
    max-width: 500px;
    /* min-height: var(--font-size); */
    /* min-width: 100px; */
    padding: var(--padding-container);
    position: absolute;
    z-index: 100;
}
/* popupmenu */
div[view="popupmenu"] {
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-window);
    max-height: 50dvh;
    max-width: 50dvw;
    min-width: 150px;
    position: absolute;
    transition: 300ms;
    z-index: 100;
}
/* popupmenu.title */
div[view="popupmenu"] > div:nth-child(1) {
    display: none;
    font-size: 0.8em;
    text-align: right;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}
/* popupmenu.body */
div[view="popupmenu"] > div:nth-child(2) {
    font-size: 0.9em;
    width: 100%;
}
/* progressBar */
div[view="progressbar"] {
    display: unset;
}
/* radioButton */
div[view="radiobutton"] {
    display: unset;
}
/* radioGroup */
div[view="radiogroup"] {
    display: unset;
}
/* seekBar */
div[view="seekbar"] {
    display: unset;
}
/* selector */
div[view="selector"] {
    align-items: center;
    display: flex;
    gap: 5px;
}
/* selector.title */
div[view="selector"] > div {
    display: none;
}
/* selector.select */
div[view="selector"] > select {
    padding: 0.5em 0;
}
/* scroller */
div[view="scroller"] {
    display: unset;
}
/* search */
div[view="search"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
/* search.input */
div[view="search"] > input {
    background-color: var(--color-select);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-input);
    margin: 0 0 0 auto;
    padding: var(--padding-selectable);
    transition: 500ms;
    visibility: hidden;
    width: 0%;
}
/* search.icon */
div[view="search"] > img {
    margin: 0 0 0 auto;
}
/* search */
div[view="search"] > datalist {
    display: none;
}
/* switch */
div[view="switch"] {
    display: unset;
}
/* tab */
div[view="tab"] {
    background-color: var(--color-secondary);
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    cursor: pointer;
    padding: var(--padding-selectable);
    transition: 500ms;
}
/* tab.content */
div[view="tab"] > div {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    width: fit-content;
}
/* tab.icon */
div[view="tab"] > div > img {
    display: none;
}
/* tab.title */
div[view="tab"] > div > div {
    align-content: center;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}
/* tabs */
div[view="tabs"] {
    display: flex;
    width: 100%;
}
/* table */
div[view="table"] {
    width: 100%;
}
/* table.header */
div[view="table"] > div:nth-child(1) {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding: 0.5em 0;
}
/* table.header.cell */
div[view="table"] > div:nth-child(1) > div {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
}
/* table.body */
div[view="table"] > div:nth-child(2) {
    display: unset;
}
/* table.body.row */
div[view="table"] > div:nth-child(2) > div {
    display: flex;
    padding: 0.25em 0;
}
/* table.body.row.cell */
div[view="table"] > div:nth-child(2) > div > * {
    border-width: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    user-select: text;
    white-space: nowrap;
    word-break: break-word;
}
/* table.footer */
div[view="table"] > div:nth-child(3) {
    display: flex;
}
/* table.footer.buttons */
div[view="table"] > div:nth-child(3) > button {
    display: unset;
}
/* table.footer.buttons.insert */
div[view="table"] > div:nth-child(3) > button:nth-child(1):after {
    content: "insert";
}
/* table.footer.buttons.delete */
div[view="table"] > div:nth-child(3) > button:nth-child(2) {
    display: none;
    margin: 0 0 0 auto;
}
div[view="table"] > div:nth-child(3) > button:nth-child(2):after {
    content: "delete";
}
/* table.footer.buttons.update */
div[view="table"] > div:nth-child(3) > button:nth-child(3) {
    display: none;
    margin: 0 0 0 50px;
}
div[view="table"] > div:nth-child(3) > button:nth-child(3):after {
    content: "update";
}
/* toggle */
div[view="toggle"] {
    display: unset;
}
/* toolbar */
div[view="toolbar"] {
    background-color: var(--color-secondary);
    display: flex;
    padding: calc(var(--padding-container)/2) var(--padding-container);
}
/* video */
div[view="video"] {
    display: unset;
}
/* viewswitcher */
div[view="viewswitcher"] {
    display: unset;
}
/* viewswitcher.view */
div[view="viewswitcher"] > div {
    display: none;
}
/* visibility */
input[view="visibility"][type="checkbox"] {
    appearance: none;
    background-attachment: fixed;
    background-color: #00000000;
    background-image: url('/repository/images/visibility_off.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    height: var(--icon-dimension);
    margin: 0;
    opacity: 0.5;
    padding: 0;
    width: var(--icon-dimension);
}
input[view="visibility"][type="checkbox"]:checked {
    background-image: url('/repository/images/visibility_on.png');
    opacity: 1;
}
/* window */
div[view="widget"] {
    background-color: var(--color-primary);
    border-color: var(--color-secondary);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: var(--box-shadow-window);
    box-sizing: border-box;
    max-height: 90dvh;
    max-width: 90dvw;
    position: fixed;
    overflow: hidden;
}
/* window.header */
div[view="widget"] > div:nth-child(1) {
    align-content: center;
    background-color: var(--color-secondary);
    gap: 10px;
    display: flex;
}
/* window.header.icon */
div[view="widget"] > div:nth-child(1) > img:nth-child(1) {
    display: none;
    margin: auto 0;
}
/* window.header.title */
div[view="widget"] > div:nth-child(1) > div:nth-child(2) {
    font-size: 1.1em;
    margin: auto auto auto 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-overflow: ellipsis;
    user-select: text;
    white-space: nowrap;
    word-break: break-word;
}
/* window.header.sizer */
div[view="widget"] > div:nth-child(1) > img:nth-child(3) {
    display: unset;
}
/* window.header.close */
div[view="widget"] > div:nth-child(1) > img:nth-child(4):hover {
    background-color: red;
    /* content: url('/repository/images/close.png'); */
}
/* window.menubar */
div[view="widget"] > div:nth-child(2) {
}
/* window.body */
div[view="widget"] > div:nth-child(3) {
    font-size: 0.9em;
    height: fit-content;
    max-height: inherit;
    overflow-y: auto;
    padding: var(--padding-container);;
}
/* window.footer */
div[view="widget"] > div:nth-child(4) {
    background-color: var(--color-secondary);
    bottom: 0px;
    display: flex;
    position: relative;
}
/* computer */
@media screen and (min-width: 640px) {
}
/* phone */
@media screen and (max-width: 640px) {
}
/***************************************************************************************************************************************************/
/* https://www.cssportal.com/ */

